.vegitaco {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
body { 
    padding: 0px;
    margin: 0px;
}
main {
    padding: 16px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0px;
    background-color: yellowgreen;
    font-size: large;
}
nav {
    border-bottom: 1px solid black;
    background-color: orangered;
    padding: 16px;
    font-size: larger;
}
img {
  width: 200px;
  height: 200px;  
}
h1 {
    color: darkolivegreen;
}
a {
    color: green; 
    text-decoration: none; 
}
#maincolor {
    color: white;
}
.background-color-row:nth-child(even) {
    background-color: lightgrey;
}